<ion-view view-title="Adding Growth Index">
<div class="bar bar-header bar-light">
  <h1 class="title">add index</h1>
</div>
  <ion-content class="padding" scroll="false">
    <div class = "card">

	<label class="item item-input item-floating-label">
    	<span class="input-label">日期</span>
    	<input type="date" placeholder="日期" ng-model="newindex.mydate">
  	</label>
  	<label class="item item-input item-floating-label">
    	<span class="input-label">体重</span>
    	<input type="number" placeholder="体重" ng-model="newindex.myvalue">
  	</label>
      <button class="button button-stable button-block" ng-click="save()">Save</button>
    	<a class="button button-positive button-clear button-block" ng-click="cancel()">Cancel</a>
    </div>
  </ion-content>
</ion-view>
